/*	BLOCK IMAGES 
/*----------------------------------------------------*/

.image-block{
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	height: 65vh;
	min-height: 300px;
	max-height:600px;
}

#block-image-one{
	background-image: url("../images/family.jpg");

}
#block-image-two{
	background-image: url('../images/cafe.jpg');
}

#block-image-three{
	background-image: url('../images/solo-view.jpg');
}

#block-image-four{
	background-image: url('../images/coffee-table.jpg');
}

/*#block-image-four{
	background-color: #fff;
	min-height: 80vh;
}
#block-image-four .img-responsive {
    margin: 0 auto;
}
*/


/*	BLOCK IMAGES MEDIA QUERIES
/*----------------------------------------------------*/
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	



}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {}